@import 'material-design-lite';
body {
  background:#ddd;

}
.url-wrapper {
  color:black;
 padding-top:0px;
}
.title {
  padding-bottom:8px;
}
.url-text {

}
.viewer-grid {
  padding:20px;
}
.result-row {
  width:100%;
  margin-bottom:20px;
}